{% extends "bootstrap/base.html" %}


{% block metas %}
{{ super() }}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="X-UA-Compatible" content="IE=9" />
{% endblock %}


{% block styles %}
<link href="/static/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}


{% block title %}IP登记{% endblock %}


{% block navbar %}
<div class = "navbar navbar-default" role = "navigation">
	<div class = "container">
		<div class = "navbar-header">
			<a class = "navbar-brand" href = "/">
				<span class="glyphicon glyphicon-home"></span>
				&nbsp;Home
			</a>
		</div>
		<div>
			<ul id="myTab" class = "nav nav-pills">
				<li><a href = "{{ url_for('main.lan_index') }}">
					<span class="glyphicon glyphicon-th-large"></span>
					&nbsp;内网</a>
				</li>
				<li><a href = "{{ url_for('main.wan_index') }}">
					<span class="glyphicon glyphicon-th"></span>
					&nbsp;外网</a>
				</li>
				<li class="navbar-right">
					{% if current_user.is_authenticated %}
					<a href="{{ url_for('auth.login') }}" class="text-danger">
					<span class="glyphicon glyphicon-log-out"></span>
					&nbsp;退出
					{% else %}
					<a href="{{ url_for('auth.login') }}" class="text-primary">
					<span class="glyphicon glyphicon-user"></span>
					&nbsp;登录
					{% endif %}</a>
				</li>						
			</ul>
		</div>
	</div>
</div>

{% endblock %}


{% block content %}
<div class = "container">
	{% for message in get_flashed_messages() %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
	{% block page_content %}{% endblock %}
</div>
{% endblock %}


{% block scripts %}
<!--[if lt IE 9]>
<script src="/static/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="/static/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="/static/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
		$('.nav-pills').find('a').each(function(){
			if (this.href == document.location.href){
				$(this).parent().addClass('active');
				};
			});
	});
</script>
{% endblock %}












		
